@model CadastroEstoque.DTOs.CategoriaDTO

<div>
    <h4>CategoriaDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taxa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taxa)
        </dd>

    </dl>
</div>
<div>
    <a class="btn-warning" asp-action="Edit" asp-route-id="Id">Editar</a>
</div>
