@model CadastroEstoque.DTOs.AtivoDTO

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <br />
    <h4>Dados Gerais</h4>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="card">
            <div class="card-body">
                <div class="row g-sm-2">
                    <div class="col-sm-6">
                        <label class="form-label">Setor</label>
                        <input class="form-control form-control-sm" type="text" asp-for="Setor" placeholder="Setor" aria-label="Setor" readonly />
                        <span asp-validation-for="Setor" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Responsavel</label>
                        <input class="form-control form-control-sm" type="text" asp-for="Responsavel" placeholder="Responsavel" aria-label="Responsavel" readonly />
                        <span asp-validation-for="Responsavel" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2">
                        <label class="form-label">Plaqueta</label>
                        <input class="form-control form-control-sm" type="text" asp-for="Plaqueta" placeholder="Plaqueta" aria-label="Plaqueta" readonly />
                        <span asp-validation-for="Plaqueta" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row g-sm-4">
                        <div class="col-sm-4">
                            <label class="form-label">Data de compra</label>
                            <input class="form-control form-control-sm" type="text" asp-for="DataCompra" placeholder="DataCompra" aria-label="DataCompra" readonly />
                            <span asp-validation-for="DataCompra" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Valor da Compra</label>
                            <input class="form-control form-control-sm" type="text" asp-for="ValorProduto" placeholder="ValorProduto" aria-label="ValorProduto" readonly />
                            <span asp-validation-for="ValorProduto" class="text-danger"></span>
                        </div>
                        <div class="col-xs-4 col-md-12 form-group">
                            <div class="controls">
                                <textarea class="form-control" id="Descricao" name="Descricao" placeholder="Descricao" rows="5" readonly></textarea>
                            </div>
                        </div>
                        @*<div class="col-sm-8">
                                <label class="form-label">Descrição</label>
                                <input class="form-control form-control-sm" type="text" asp-for="Descricao" placeholder="Descricao" aria-label="Descricao" readonly />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="Id">Editar</a>
        </div>
    </form>
</body>
</html>
